<nav class="navbar">
    <a routerLink="/users/me" class="navbar-brand">SkillSwap</a>
    <div class="navbar-menu">
        <ng-container *ngIf="isLoggedIn">
            <a routerLink="/jobs/search" routerLinkActive="active" class="nav-link">Find Jobs</a>
            <a routerLink="/job/new" routerLinkActive="active" class="nav-link">New Job</a>
            <a routerLink="/jobs/postings" routerLinkActive="active" class="nav-link">My Postings</a>
            <a routerLink="/proposals/my-bids" routerLinkActive="active" class="nav-link">My Bids</a>
            <a routerLink="/platform/stats" routerLinkActive="active" class="nav-link">Stats</a>
            <button (click)="logout()" class="nav-link btn-logout">Logout</button>
        </ng-container>

    </div>
</nav>