<div class="details-container">
  <a routerLink="/proposals/my-bids" class="btn-back">← Back</a>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div *ngIf="proposal" class="proposal-card">
    <div class="proposal-header">
      <h2>Proposal Details</h2>
      <span class="proposal-status" [ngClass]="proposal.status">{{ proposal.status }}</span>
    </div>

    <div class="proposal-price">
      <span class="label">Price</span>
      <span class="value">${{ proposal.price }}</span>
    </div>

    <div *ngIf="proposal.cover_letter" class="proposal-section">
      <span class="label">Cover Letter</span>
      <p class="content">{{ proposal.cover_letter }}</p>
    </div>

    <div *ngIf="proposal.message" class="proposal-section">
      <span class="label">Message</span>
      <p class="content">{{ proposal.message }}</p>
    </div>

    <div class="proposal-actions" *ngIf="proposal.status === 'pending'">
      <button (click)="accept()" class="btn-accept">Accept Proposal</button>

      <button *ngIf="isFreelancer && proposal.status === 'pending'" class="btn-delete"(click)="deleteProposal()">
        Delete Proposal
      </button>

    </div>
  </div>
</div>